
.bg-primary{background: $primary;}
.bg-success {background: $success;}
.bg-warning {background: $warning;}
.bg-danger {background: $danger;}
.bg-white {background: $white;}
.bg-black {background: $black;}

.text-primary{color: $primary;}
.text-success {color: $success;}
.text-warning {color: $warning;}
.text-danger {color: $danger;}
.text-white {color: $white;}
.text-black {color: $black;}

