$primary    : #2983c4;
$success    : #20e578;
$warning    : #ed9b31;
$danger     : #ef3255;
$white      : #ffffff;
$black      : #212121;

$font-head      : "San Francisco Display Semibold";
$font-subhead   : "San Francisco Display Thin";

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

%box-shadow {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .05);
}