html {
	/*
	background-color: black;
	*/
	background-color: transparent;
	background-image: none;
	overflow: hidden;
}
body {
	height: 100% !important;
	overflow-x: hidden;
	overscroll-behavior-x: none;
	overscroll-behavior-y: contain;
}
.box {
	margin-bottom: 0 !important;
	padding: 1rem;
}
.subtitle {margin-bottom: .8rem !important;}
.jadwal.table {background-color:transparent;}
.jadwal.table td,
.jadwal.table th {border-color: #646464;}
/*
.jadwal tbody tr:nth-child(even) {background-color: #363636;}
*/


.f-bold {font-weight: 900;}
.f-light {font-weight: 300;}


/*
LINK #3273dc; rgb(50, 115, 220)
INFO #209cee; rgb(32, 156, 238)
SUCCESS #23d160; rgb(35, 209, 96)
DANGER #ff3860; rgb(255, 56, 96)
WARNING #ffdd57; rgb(255, 221, 87)
PRIMARY #00d1b2; rgb(0, 209, 178)
DARK #363636; rgb(54, 54, 54)
BLACK #0a0a0a; rgb(10, 10, 10)
LIGHT #f5f5f5; rgb(245, 245, 245)
*/
.has-text-yellow,
.table th.has-text-yellow {color: yellow;}
.has-background-none {background-color: rgba(0, 0, 0, 0);}
.has-background-transparent {background-color: rgba(255, 255, 255, 0.9);}
.has-background-transparent:before {
	/*
	content: ‘ ’;
	*/
	background: inherit;
	left: -25px;
	right: 0;
	top: -25px;
	bottom: 0;
	box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
}
.has-background-white-transparent, .is-white-transparent {background-color: rgba(255, 255, 255, .8) !important;}
.has-background-danger-transparent, .is-danger-transparent {background-color: rgba(255, 56, 96, .8) !important;}
.has-background-link-transparent, .is-link-transparent {background-color: rgba(0, 68, 164, .8) !important;}
.has-background-black-transparent, .is-black-transparent {background-color: rgba(10, 10, 10, .5) !important;}
	div[onclick].has-background-black-transparent:hover {
		background-color: rgba(255, 56, 96, .6) !important; /*has-background-link-transparent*/
		-webkit-transition: background-color .25s ease;
		-moz-transition: background-color .25s ease;
		-o-transition: background-color .25s ease;
		-ms-transition: background-color .25s ease;
		transition: background-color .25s ease;
	}
.has-background-gradient {
	background: linear-gradient(-45deg, #1c79c0, #e73c7e, #1c79c0, #000);
	background-size: 300% 300%;
	-webkit-animation: Gradient 7s ease infinite;
	animation: Gradient 7s ease infinite;
}
@-webkit-keyframes Gradient{0% {background-position:0% 50%} 50% {background-position:100% 50%} 100% {background-position:0% 50%}}
@keyframes Gradient{0% {background-position:0% 50%} 50% {background-position:100% 50%} 100% {background-position:0% 50%}}

.blink-kosong {
	-webkit-animation: BLINK-KOSONG 2s infinite;
	animation: BLINK-KOSONG 2s infinite;
}
@-webkit-keyframes BLINK-KOSONG {
	0%{background-color:#ffdd57;color:#363636;}
	49%{background-color:#ffdd57;color:#363636;}
	50%{background-color: rgba(255, 56, 96, .7);color:#fff;}
	99%{background-color: rgba(255, 56, 96, .7);color:#fff;}
	100%{background-color:#ffdd57;color:#363636;}
}
@keyframes BLINK-KOSONG {
	0%{background-color:#ffdd57;color:#363636;}
	49%{background-color:#ffdd57;color:#363636;}
	50%{background-color: rgba(255, 56, 96, .7);color:#fff;}
	99%{background-color: rgba(255, 56, 96, .7);color:#fff;}
	100%{background-color:#ffdd57;color:#363636;}
}
.blink-mutasi {
	-webkit-animation: BLINK-MUTASI 1s infinite;
	animation: BLINK-MUTASI 1s infinite;
}
@-webkit-keyframes BLINK-MUTASI {
	0%{color:#ffdd57;}
	49%{color:#ffdd57;}
	50%{color:#fff;}
	99%{color:#fff;}
	100%{color:#ffdd57;}
}
@keyframes BLINK-MUTASI {
	0%{color:#ffdd57;}
	49%{color:#ffdd57;}
	50%{color:#fff;}
	99%{color:#fff;}
	100%{color:#ffdd57;}
}

/*
@media screen and (max-width: 767px) {
	.has-background-black-transparent,
	.is-black-transparent {background-color: rgba(10, 10, 10, 1) !important;}
	.has-background-white-transparent,
	.is-white-transparent {background-color: rgba(255, 255, 255, 1) !important;}
	.has-background-link-transparent,
	.is-link-transparent {background-color: rgba(50, 115, 220, 1) !important;}
	.has-background-danger-transparent,
	.is-danger-transparent {background-color: rgba(255, 56, 96, 1) !important;}
}
#menu-display {
	margin-top: 12px;
}
*/
.tile.is-ancestor {
	margin-top: 0;
}


.is-borderless {border: none !important;}
.is-pointer {cursor: pointer;}
.vertical-center {display: flex;flex-direction: column;align-items: center;justify-content: center;}
.line-16 {line-height: 16px;}
.top-10 {margin-top: 10px;}
.top-20 {margin-top: 20px;}
.top-30 {margin-top: 30px;}
.top-40 {margin-top: 40px;}
.top-50 {margin-top: 50px;}
.bottom-1-5-rem {margin-bottom: 1.5rem;}
.bottom-10 {margin-bottom: 10px;}
.bottom-20 {margin-bottom: 20px;}
.bottom-30 {margin-bottom: 30px;}
.bottom-40 {margin-bottom: 40px;}
.bottom-50 {margin-bottom: 50px;}
.padding-top-20 {padding-top: 20px;}
.padding-top-10 {padding-top: 10px;}
.padding-bottom-40 {padding-bottom: 40px;}
.padding-bottom-30 {padding-bottom: 30px;}
.padding-bottom-20 {padding-bottom: 20px;}
.padding-bottom-10 {padding-bottom: 10px;}
.padding-left-20 {padding-left: 20px;}
.padding-left-10 {padding-left: 10px;}
.padding-right-20 {padding-right: 20px;}
.padding-right-10 {padding-right: 10px;}
.desktop-only {display: block;}
.mobile-only {display: none;}
@media screen and (max-width: 768px) {
	.desktop-only {display: none;}
	.mobile-only {display: block;}
	.mobile-padding-bottom-40 {padding-bottom: 40px;}
	.mobile-left-20 {margin-left: 20px;}
	.mobile-right-20 {margin-right: 20px;}
	.tile.is-ancestor {margin-top: 0;}
}


/* LIST ===== www.formget.com/css-lists/ */
ul.customlist,
ol.customlist {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 0;
}
ul.customlist {list-style: square;}
ol.customlist {
	list-style: decimal;
	counter-reset: li;
}
ul.customlist ul,
ol.customlist ol {margin: 0 0 0 2em;}
ul.customlist li,
ol.customlist li {
	position: relative;
	display: block;
	margin-top: .5em;
	margin-left: .9em;
	padding: .2em .4em .4em 2em;
	text-decoration: none;
	transition: all .2s ease-in-out;
}
ul.customlist li:before,
ol.customlist li:before {
	position: absolute;
	width: 2.1em;
	height: 2em;
	top: 0;
	left: -.85em;
	text-align: center;
	background-color: none;
	/*
	color: #3273dc;
	background-color: #f5f5f5;
	*/
}
ul.customlist li:before {content: '\25A0';} /* CSS Entity https://www.w3schools.com/cssref/css_entities.asp */
ol.customlist li:before {
	line-height: 2em;
	content: counter(li);
	counter-increment: li;
}


/*==========  SLIDER WRAPPER ==========*/
#textSlider.row {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100% !important;
}
#textSlider div {color: #fff;}
.iamCol {
    text-align: right;
	float: left;
	display: block;
	padding-top: 4px;
	padding-left: 55px;
	padding-right: 20px;
}
.slideCol {
	overflow: hidden;
	display: block;
	white-space: nowrap;
	text-align: center;
	padding-right: 0;
}
.scroller {
	height: 40pt;
	line-height: 40pt;
	overflow: hidden;
}
.scroller .inner { animation: 10s normal infinite running SCROLL; }
@keyframes SCROLL {
	0% {margin-top: 0px;}
	15% {margin-top: 0px;}
	25% {margin-top: -40pt;}
	40% {margin-top: -40pt;}
	50% {margin-top: -80pt;}
	65% {margin-top: -80pt;}
	75% {margin-top: -120pt;}
	90% {margin-top: -120pt;}
	100% {margin-top: 0px;}
}



/*========== RESPONSIVE IMAGE ==========*/
.responsive {
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}



/*==========  RESPONSIVE GOOGLE SHEET EMBED ==========*/
.googleWrapper {
	width: 100%;
	height: 83vh;
	overflow-y: hidden;
	overscroll-behavior-y: contain;
}
.googleWrapper iframe { 
    width: 100%;
	height: 100%;
    margin: auto;
}



/*==========  RESPONSIVE YOUTUBE EMBED ==========*/
.googleYoutubeSlide {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	display: flex;
	align-items: stretch;
}
.googleYoutubeSlide iframe,
.googleYoutubeSlide object,
.googleYoutubeSlide embed {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: 0;
}



/*==========  ANIMASI FLASH TEXT ==========*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	margin-bottom: 50px;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
.flash {
	-webkit-animation-name: flash;
	animation-name: flash;
}
@-webkit-keyframes flash {
	from,
	50%,
	to {opacity: 1;}
	25%,
	75% {opacity: 0;}
}
@keyframes flash {
	from,
	50%,
	to {opacity: 1;}
	25%,
	75% {opacity: 0;}
}



/*==========  MOBILE FIRST METHOD  ==========*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 479px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: center; font-size:20pt; }
	.iamCol p { display: inline !important; }
	.slideCol { font-size: 25pt; text-align: center; margin-top: -20px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 765px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: center; font-size:25pt; }
	.iamCol p { display: inline !important; }
	.slideCol { font-size: 38pt; text-align: center; margin-top: -20px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
	#textSlider.row {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	/*.iamCol { text-align: center; font-size:30pt; }*/
	.iamCol p { display: inline !important; }
	/*
	.slideCol {
		font-size: 50pt;
		text-align: center;
		margin-top: 5px;
	}
	*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
	#textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
	.iamCol { text-align: right; font-size:30pt; }
	.slideCol { font-size: 55pt; text-align: left; }
}
